// Fonts
$font_heading         : 'Playfair Display', serif;
$font_text            : 'Playfair Display', serif;

// Colors
$color_primary        : #fae6ce;
$color_btn_primary    : #ECB390;
$color_light          : #fcf8f5;
$color_theme_blue     : #666b7e;
$color_theme_yellow   : #fbe6ce;
$color_wedding_blue   : #8da4c6;
$color_wedding_grey   : #f7f7f7;
$color_green          : #94B49F;
$color_green_2        : #578567;
$color_grey_light     : #FCF8E8;
$color_dark           : #222;
$color_dark_blue      : #1b192a;
$color_dark_grey      : #0c0a0a;
$color_white          : #fff;
$color_black          : #000000;
$color_text           : #6e6c7a;
$color_success        : #4caf50;
$color_danger         : #c7182a;
$color_danger_bg      : rgba(242, 116, 116, 0.2);
$color_light_grey     : #f5f5f5;
$color_soft_grey      : #e0e0e0;
$color_grey_primary   : #f5f5f5;
$color_grey_secondary : #eee;
$color_grey_manor     : #fbfbfb;
$color_nice_grey      : rgba($color_primary, 0.1);
$color_warning        : #ffc107;
$color_shadow         : rgba($color_dark_blue, 0.1);
$color_shadow_hover   : rgba($color_dark_blue, 0.15);



//Transition
$transition_default   : all 0.5s ease;
$trs_linear           : all 0.25s linear;