/* ---------------------------------------------------------------- */
/* Animations                                                     
/* ---------------------------------------------------------------- */
@keyframes stickyMenu {
	0% {
		margin-top: -120px;
		opacity: 0;
	}
	50% {
		margin-top: -64px;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}
@keyframes preLoader {
    0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes iconPulse {
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}	
	100% {
		opacity: 0;
		transform: scale(1);
	}
}	
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}
@keyframes animateSlider {
    0% {
		transform: scale(1.04);
    }
    100% {
		transform: scale(1);
    }
}