/* ---------------------------------------------------------------- */
/* Partners                               
/* ---------------------------------------------------------------- */
.partners-section {
    background: $color_black;
}
.partner-item {
    border: 1px dashed rgba($color_black, 0.1);
    padding: 30px;
    text-align: center;
}
@media only screen and (max-width: 992px) {
    .partner-col {
        &:nth-child(2), &:first-child {
            .partner-item {
                border-bottom: 0;
            }
        }
    }
    .wedding-partners {
        .partner-col {
            &:nth-child(2) {
                .partner-item {
                    border-bottom: 1px dashed rgba($color_black, 0.1);
                }
            }
        }
    }
}
.wedding-partners {
    padding-top: 80px;
    padding-bottom: 80px;
    background: $color_grey_primary;
}